{% extends 'src/AdminAllDays/CommonConfig/Menu/SourceCode/Masters/simple.html' %}

{% block content %}
<section class="section dashboard">
    <div class="row">
        <div class="col">
            <h1>QrCodes Dashboard
            </h1>
        </div>
    </div>
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <!-- Sales Card -->
                <div class="col-lg-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="../../../QrCode/AsArray/SourceCode/HtmlFiles/">AsArray</a></li>
                                <li><a class="dropdown-item" href="../../../QrCode/BranchFilter/SourceCode/HtmlFiles/">BranchFilter</a></li>
                                <li><a class="dropdown-item" href="../../../QrCodeAtStage/BranchWise/SourceCode/HtmlFiles/">BranchWise</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">QrCode</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="QrCodeId">145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                
                <!-- Revenue Card -->
                <div class="col-lg-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li><a class="dropdown-item" href="../../../CommonConfig/QrCodeAtStage/AsArray/HtmlFiles/">AsArray</a></li>
                                <li><a class="dropdown-item" href="../../../CommonConfig/QrCodeAtStage/BranchFilter/HtmlFiles/">BranchFilter</a></li>
                                <li><a class="dropdown-item" href="../../../CommonConfig/QrCodeAtStage/BranchWise/HtmlFiles/">BranchWise</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">QrCodeAtStage</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
               
                <div class="row">
                    <div class="col-lg-6">
                      <div id="chart-image">
                        <img src="../assets/laun-CN-0JW9E.png" alt="Wash"
                          style="object-fit:fill; height:30%; width: 100%; margin-left: 10.5rem" />
                      </div>
                    </div>
                  </div>
                </div>
            </section>
            </div>
        
        </div><!-- End Right side columns -->

        
    </section>
    </div>

    </div>

   
</section>
{% endblock %}

{% block js %}
<script type="module" src="../Js/pages/Index/StartFunc.js"></script>
{% endblock %}